<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leetspeak</title>
  </head>
  <body>
    <ul>
    @foreach (string result in @Model)
{
<p>
  @result
</p>
}

<p><a href = "/">Play Again</a></p>
  </body>
</html>
